 /* * {
    margin: 0;
  }
  img {
  border:0;
  }
  img a {
  border:0;
  }
*/
  body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: url('../img/Top/BG2.png') no-repeat;
  }

  header.main_header {
  padding-top: 50px;
  }

  .content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  }

  .logo {
  display: block;
  width: 81px;
  height: 51px;
  margin: 0 auto;
  }

  .logo img:last-child {
  padding-top: 5px;
  }

  .main {
  width: 100%;
  overflow: hidden;
  }

  .form {
  width: 100%;
  margin: 0 auto;
  max-width: 62.5rem;
  }

  .what {
  padding-top: 80px;
  }

  .blank {
  margin: 0 auto;
  }

  .form1 {
  padding-top: 35px;
  }

  .form2 {
  padding-top: 15px;
  }
  .share {
  padding-top: 20px;
  }

  .together {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8125rem;
  text-align: center;
  color: #3b625e;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: 800;
  padding-top: 20px;
  }

  .square {
  background-color: #e8f7d5;
  width: 14px;
  height: 20px;
  display: inline-block;
  border-radius: 2px;
  }

  .curve2 {
  background: url('../img/Content/curve2.png');
  }

  .deeds {
  padding-top: 40px;
  }

  .date {
  font-family: 'Open Sans';
  color: #335958;
  font-size: 22px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 30px;
  }

  .comment {
  background: transparent;
  margin: 0 auto;
  width: 600px;
  }

  .avatar {
  float:left ;
  }

  .info {
  width: 500px;
  height: 80px;
  }

  .nick {
  font-family: 'Open Sans';
  color: rgba(51, 89, 88, 0.75);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  float: left;
  }

  .date2 {
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  margin-top: 0;
  color: #335958;
  float: left;
  clear: left;
  }

  .done {
  font-family: 'Open Sans';
  color: #669392;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  clear: left;
  }

  .line {
  background: url('../img/Content/line.png');
  background-color: #bfded8;
  }

  .like {
  background: url('../img/Content/like.png') no-repeat;
  width: 34px;
  height: 15px;
  padding-left: 20px;
  font-family: 'Open Sans';
  color: #e69768;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  width: 15px;
  height: 15px;
  }

  .report {
  background: url('../img/Content/zglos.png');
  width: 16px;
  height: 15px;
  }

  .social ul{
  margin-left: 1750px;
  margin-top: -1420px;
  list-style: none;
  }

  .fb {
  background: url('../img/Share/LIKE_BOX.png');
  width: 50px;
  height: 92px;
  }

  .twitter {
  background: url('../img/Share/twitter.png');
  width: 48px;
  height: 16px;
  margin-top: 5px;
  }

  .container {
  max-width: 800px;
  margin-top: 500px;
  margin-left: 875px;
  }

  .pagination {
  font-family: 'Open Sans';
  color: #7fa3a2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  width: 270px;
  height: 20px;
  padding: 10px;
  }

  a.back {
  width: 4px;
  height: 10px;
  text-decoration: none;
  color: #7fa3a2;
  font-size: 20px;
  line-height: 20px;
  padding-right: 25px;
  }

  a.page {
  font-family: 'Open Sans';
  color: #7fa3a2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  width:  4px;
  height: 11px;
  padding: 6px;
  text-decoration: none;
  }

  a.next {
  width: 4px;
  height: 10px;
  text-decoration: none;
  color: #7fa3a2;
  font-size: 20px;
  font-weight: 550;
  line-height: 20px;
  padding-left: 25px;
  }

  .main_footer {
  background-color: #335958;
  padding: 50px 0;
  }

  #heart {
  background: url('../img/Footer/heart.png');
  width: 166px;
  height: 91px;
  margin: 0 auto;
  }

  #wave {
  background: url('../img/Footer/wave.png');
  width: 33px;
  height: 10px;
  }


  #share {
  background: url('../img/Footer/share.png') no-repeat;
  margin-left: 853px;
  margin-top: 30px;
  }


