body{
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-size: 100% auto;
}

.main{
  width: 100%;
  overflow: hidden;
}

.logo {
  display: block;
  width: 81px;
  height: 51px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.title {
 /* margin: 0 auto;*/
}

.ruless {
  font-family: 'Open Sans';
  color: #345a58;
  font-size: 18px;
  font-weight: 400;
  line-height: 51px;
  width: 642px;
  height: 354px;
  margin: 0 auto;
}

.close {
  background: url('../img/Rules/close.png') no-repeat;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
}
